# Sub-Store
HOST-SUFFIX , sub.store, Proxy
HOST-SUFFIX , sub-store.vercel.app, Proxy

# BOXJS
HOST-SUFFIX , boxjs.com, Proxy
HOST-SUFFIX , boxjs.net, Proxy

# Script Hub
HOST-SUFFIX , Script.Hub, Proxy

# Shadowfly
HOST-SUFFIX , leensc.us, Proxy
HOST-SUFFIX , leensa.com, Proxy
HOST-SUFFIX , leensa.us, Proxy
HOST-SUFFIX , leensasf.us, Proxy
HOST-SUFFIX , sh.apigw.tencentcs.com, Proxy

# 风之谷
HOST-SUFFIX , fzg2023.xyz, Proxy
