# Sub-Store
HOST-SUFFIX , sub.store, Proxy
HOST-SUFFIX , sub-store.vercel.app, Proxy

# BOXJS
HOST-SUFFIX , boxjs.com, Proxy
HOST-SUFFIX , boxjs.net, Proxy

# Script Hub
HOST-SUFFIX , Script.Hub, Proxy
HOST-SUFFIX , ScriptHub.vercel.app, Proxy

# 风之谷
HOST-SUFFIX , fzg2023.xyz, Proxy
